body{
    background:#3AB492;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 280px;
    min-height: 250px;
}

#save-btn, #save-btn2{
    display: flex;
    color: #3AB492 ;
    background: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 15px;
    font-weight: bold;
    

}

#input-el{
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #3AB492;
    
}

#save_div{
    color: white;
    height: auto;
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 0px 0px;
    margin: 0px 0px;

}

#myList{
    margin: 5px 0px;
    
}

#saved_ls{
    margin-top: 10px;
}

#del-btn{
    background:white;
    color: red;
    border: 2px solid #3AB492;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 15px;
    font-weight: bold;

}

ul{

    list-style: square;
    color:white;
    margin-left: -25px;

    
}

li{
    margin: 0px 0px;
}

a{
    color:white;
    font-size: 15px;
}